/* Font Families */
$poppins-font-weight-900: "Poppins, Black";
$poppins-font-weight-800: "Poppins, Extra-Bold";
$poppins-font-weight-700: "Poppins, Bold";
$poppins-font-weight-600: "Poppins, Semi-Bold";
$poppins-font-weight-500: "Poppins, Medium";
$poppins-font-weight-400: "Poppins, Regular";
$poppins-font-weight-300: "Poppins, Light";
$poppins-font-weight-200: "Poppins, Extra-Light";
$poppins-font-weight-100: "Poppins, Thin";

$inter-font-weight-900: "Inter, Black";
$inter-font-weight-800: "Inter, Extra-Bold";
$inter-font-weight-700: "Inter, Bold";
$inter-font-weight-600: "Inter, Semi-Bold";
$inter-font-weight-500: "Inter, Medium";
$inter-font-weight-400: "Inter, Regular";
$inter-font-weight-300: "Inter, Light";
$inter-font-weight-200: "Inter, Extra-Light";
$inter-font-weight-100: "Inter, Thin";