/* Font Families */
$poppins-font-weight-900: "Poppins, Black";
$poppins-font-weight-800: "Poppins, Extra-Bold";
$poppins-font-weight-700: "Poppins, Bold";
$poppins-font-weight-600: "Poppins, Semi-Bold";
$poppins-font-weight-500: "Poppins, Medium";
$poppins-font-weight-400: "Poppins, Regular";
$poppins-font-weight-300: "Poppins, Light";
$poppins-font-weight-200: "Poppins, Extra-Light";
$poppins-font-weight-100: "Poppins, Thin";

$inter-font-weight-900: "Inter, Black";
$inter-font-weight-800: "Inter, Extra-Bold";
$inter-font-weight-700: "Inter, Bold";
$inter-font-weight-600: "Inter, Semi-Bold";
$inter-font-weight-500: "Inter, Medium";
$inter-font-weight-400: "Inter, Regular";
$inter-font-weight-300: "Inter, Light";
$inter-font-weight-200: "Inter, Extra-Light";
$inter-font-weight-100: "Inter, Thin";

/* Colors */
$primary-white-shade-0: #F2F2F2;
$primary-white-shade-1: #F2F2F2;
$primary-white-shade-2: #A6A6A6;

$primary-black-shade-0: #595959;
$primary-black-shade-1: #404040;
$primary-black-shade-2: #0D0D0D;

$primary-green-shade-0: #44924C;
$primary-green-shade-1: #3E8445;
$primary-green-shade-2: #37763E;

$primary-blue-shade-0: #2F2E41;