.bookmarks-section {
  min-height: calc(100vh - 59px);
  width: calc(100vw - 240px);
  background-color: $neutral-100;

  .section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 0;
    padding-right: 10rem;

    .data_chart {
      border: 1px solid $neutral-400;
      border-radius: 0.5rem;
      overflow: hidden;

      .chart_actions {
        display: flex;
        justify-content: center;
        gap: 1rem;

        button {
          cursor: pointer;
          border: none;
          border-radius: 0.5rem;
          padding: 0.5rem 1rem;
          text-transform: uppercase;
          font-family: $inter-font-weight-700;
          letter-spacing: 0.1rem;
          color: $white;
          background-color: $red-600;
        }
      }
    }
  }
}